body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Josefin Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a68ee2;
  line-height: 1.75;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  color: inherit;
}

a:hover {
  color: red;
}
